<%- include('userSubHeader') %>
<style>
  .wallet-container {
    background-color: #f8f9fa;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }

  .wallet-balance {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
  }

  .update-wallet-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .update-wallet-btn:hover {
    background-color: #218838;
  }
</style>

    <main class="main mt-50">
        <h1 class="text-center mb-4"><span style="color: #e44d26;">P</span>ROFILE</h1>
      
      <section class="pt-100 pb-150">
        
        <div class="container">
           
          <div class="row">

            

            <div class="col-lg-10 m-auto">
              <div class="row">
                <div class="col-md-4">
                    
                  <div class="dashboard-menu">
                    <ul class="nav flex-column" role="tablist">
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          id="dashboard-tab"
                          data-bs-toggle="tab"
                          href="#dashboard"
                          role="tab"
                          aria-controls="dashboard"
                          aria-selected="false"
                          ><i class="fi-rs-settings-sliders mr-10"></i
                          >Dashboard</a
                        >
                      </li>

                      <li class="nav-item">
                        <a
                          class="nav-link"
                          id="orders-tab"
                          data-bs-toggle="tab"
                          href="#orders"
                          role="tab"
                          aria-controls="orders"
                          aria-selected="false"
                          ><i class="fi-rs-shopping-bag mr-10"></i>Orders</a
                        >
                      </li>

                      <!-- <li class="nav-item">
                        <a
                          class="nav-link"
                          id="track-orders-tab"
                          data-bs-toggle="tab"
                          href="#track-orders"
                          role="tab"
                          aria-controls="track-orders"
                          aria-selected="false"
                          ><i class="fi-rs-lock mr-10"></i>Change Password</a
                        >
                      </li> -->

                      <li class="nav-item">
                        <a
                          class="nav-link"
                          id="address-tab"
                          data-bs-toggle="tab"
                          href="#address"
                          role="tab"
                          aria-controls="address"
                          aria-selected="true"
                          ><i class="fi-rs-marker mr-10"></i>My Address</a
                        >
                      </li>

                      <li class="nav-item">
                        <a
                          class="nav-link"
                          id="account-detail-tab"
                          data-bs-toggle="tab"
                          href="#account-detail"
                          role="tab"
                          aria-controls="account-detail"
                          aria-selected="true"
                          ><i class="fi-rs-edit mr-10"></i>Edit Profile</a
                        >
                      </li>


                      <li class="nav-item">
                        <a class="nav-link" href="/logout"
                          ><i class="fi-rs-sign-out mr-10"></i>Logout</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card mb-4 mb-md-0 " style="width: 18rem; border: none; box-shadow: none;">
                        
                          <div class="container mt-3 wallet-container">
                            <h4>Your Wallet Balance</h4>
                            <p class="wallet-balance">Rs.<%- user.wallet %>.00</p>
                            <button onclick="addWallet()" class="btn btn-primary btn-sm rounded update-wallet-btn">Update Wallet</button>
                          </div>
                          <div class="container mt-3">
                            <button onclick="openWalletHistoryModal()" class="btn  btn-sm rounded show-wallet-history-btn bg-dark">Show Wallet History</button>
        
                        </div>

                                                <!-- Add a hidden modal -->
                                                <div class="modal fade" id="walletHistoryModal" tabindex="-1" role="dialog" aria-labelledby="walletHistoryModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                                      <div class="modal-content">
                                                          <div class="modal-header bg-info text-white">
                                                              <h5 class="modal-title text-white" id="walletHistoryModalLabel">Wallet History</h5>
                                                             
                                                          </div>
                                                          <div class="modal-body">
                                                              <!-- Display wallet history content here -->
                                                              <% user.history.forEach(entry => { %>
                                                                  <p><strong>Amount:</strong> <%= entry.amount %></p>
                                                                  <p><strong>Status:</strong> <%= entry.status %></p>
                                                                  <p><strong>Reason:</strong> <%= entry.reason %></p>
                                                                  <hr>
                                                              <% }); %>
                                                          </div>
                                                          <div class="modal-footer">
                                                             
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              

                       
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-8">
                    
                  <div class="tab-content dashboard-content">
                    <div
                      class="tab-pane fade active show"
                      id="dashboard"
                      role="tabpanel"
                      aria-labelledby="dashboard-tab"
                    >
                      <div class="card">
                        <!-- <div class="card-header">
                                                <h5 class="mb-0">Hello Rosie! </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
    
                                            </div> -->
                                            <div class="card-header bg-dark">
                                              <h5 class="mb-0 text-white"></h5>
                                          </div>                   
                        <div class="card p-3 py-4 ">
                          <div class="text-center">
                            <img
                              src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=338&ext=jpg&ga=GA1.1.44546679.1698969600&semt=ais"
                              width="100"
                              class="rounded-circle"
                            />
                          </div>

                          <div class="text-center mt-3">
                            <!-- name -->
                            <h5 class="mt-2 mb-0"><%= user.name %></h5>

                            <!-- email -->

                            <span><%= user.email %></span>

                            <div class="px-4 mt-1">
                              <p class="fonts">
                               <%= user.mobile %>
                              </p>
                            </div>

                            <ul class="social-list">
                              <li><i class="fa fa-facebook"></i></li>
                              <li><i class="fa fa-dribbble"></i></li>
                              <li><i class="fa fa-instagram"></i></li>
                              <li><i class="fa fa-linkedin"></i></li>
                              <li><i class="fa fa-google"></i></li>
                            </ul>

                            
                          </div>
                          <button id="generateReferralButton" class="btn  mt-4 bg-primary text-white" onclick="shareLink()">Invite with Referral</button>
                        
                        
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="orders"
                      role="tabpanel"
                      aria-labelledby="orders-tab"
                    >
                      <div class="card">
                        <div class="card-header bg-dark">
                          <h5 class="mb-0 text-white">Your Orders</h5>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Order</th>
                                  <th>Date</th>
                                  <th>Status</th>
                                  <th>Payment</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody class="bg-light">
                                <% function formatDate(date) { %>
                                  <% const options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
                                  <% return new Date(date).toLocaleDateString(undefined, options); %>
                                <% } %>
                                
                                <% function calculateTotal(products) { %>
                                  <% return products.reduce((total, product) => total + product.total, 0); %>
                                <% } %>
                                
                                <% function calculateTotalItems(products) { %>
                                  <% return products.reduce((totalItems, product) => totalItems + product.quantity, 0); %>
                                <% } %>
                                
                                <tbody class="bg-light">
                                  <% orders.forEach(order => { %>
                                    <tr>
                                      <td>ODR<%= order._id.toString().replace(/\D/g, '').slice(-6) %></td>

                                      <td><%= formatDate(order.createdAt) %></td>
                                      <td><%= order.status %></td>
                                      <td><%= order.paymentMethod %></td>
                                      <td>
                                        <a href="/userOrderDetail?id=<%- order._id%>" class="btn-small d-block">View</a>
                                      </td>
                                    </tr>
                                  <% }); %>
                                </tbody>
                                
                              
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div
                      class="tab-pane fade"
                      id="track-orders"
                      role="tabpanel"
                      aria-labelledby="track-orders-tab"
                    >
                    <div class="card">
                      <div class="card-body">
                        <h3 class="card-title text-center mb-4">Forgot Password</h3>
                        <form action="/forgotPassword" method="post">
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                          </div>
                          <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                        </form>
                      </div>
                    </div>
                    </div> -->
                    <div
                      class="tab-pane fade"
                      id="address"
                      role="tabpanel"
                      aria-labelledby="address-tab"
                    >

                    <div class="col-12">
                        <div class="row d-flex">
                            
                        <!-- profilePage.ejs -->
                        <% for (let i = 0; i < userAddresses.length; i++) { %>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header bg-success">
                                        <h5 class="mb-0 text-white">Address</h5>
                                    </div>
                                    <div class="card-body">
                                        <address>
                                            <%= userAddresses[i].addressType %> <%= userAddresses[i].houseNo %> <%= userAddresses[i].street %><br />
                                            <%= userAddresses[i].landmark ? userAddresses[i].landmark  : '' %>
                                            <%= userAddresses[i].city %>, <%= userAddresses[i].state %> <%= userAddresses[i].pincode %> <%= userAddresses[i].country %><br />
                                            Phone: <%= userAddresses[i].phone %>
                                        </address>
                                        <p><%= userAddresses[i].district %></p>
                                        <div class="row">
                                          <div class="col-12 d-flex justify-content-between align-items-center">
                                              <a href="/editAddress/<%= userAddresses[i]._id %>" class="btn btn-warning btn-sm">Edit</a>
                                      
                                              <!-- Add a form for the delete button -->
                                              <form action="/deleteAddress/<%= userAddresses[i]._id %>" method="post" style="display:inline;">
                                                  <button type="submit" class="btn btn-danger btn-sm bg-danger" onclick="return confirmDelete()">Delete</button>
                                              </form>
                                          </div>
                                      </div>
                                      
                                    </div>
                                </div>

                            </div>
                        <% } %>
                   
                      </div>
                        <div class="mt-3">
                            <!-- Add Address Button -->
                            <a href="/addAddress"><button class="btn btn-small btn-primary" id="addAddressBtn">Add Address</button></a> 
                        </div>
                    </div>
                    

                    
                    </div>
                    
                    





                    </div>
                    <div
                      class="tab-pane fade"
                      id="account-detail"
                      role="tabpanel"
                      aria-labelledby="account-detail-tab"
                    >
                      <div class="card">
                        <div class="card-header bg-dark">
                          <h5 class="text-white">EDIT PROFILE</h5>
                        </div>
                        <div class="card-body">
                          
                          <form method="post" name="enq" action="/updateProfile">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>First Name <span class="required">*</span></label>
                                    <input required=""  value="<%- user.name %>" class="form-control square" name="name" type="text" />
                                </div>
                                <!-- <div class="form-group col-md-6">
                                    <label>Email Address <span class="required">*</span></label>
                                    <input required=""  value="<#%- user.email %>" class="form-control square" name="email" type="email" />
                                </div> -->
                                <div class="form-group col-md-12">
                                    <label>Mobile <span class="required">*</span></label>
                                    <input required=""  value="<%- user.mobile %>" class="form-control square" name="mobile" type="tel" />
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit" onclick="saveProfile()">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="main">
      <section class="newsletter p-30 text-white wow fadeIn animated bg-dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-md-3 mb-lg-0">
                    <div class="row align-items-center">
                       
                      
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Subscribe Form -->
                    
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </section>
      <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="widget-about font-md mb-md-5 mb-lg-0">
                <div class="logo logo-width-1 wow fadeIn animated">
                  <a href="index.html"
                    ><img src="/user/assets/imgs/theme/logo.svg" alt="logo"
                  /></a>
                </div>
                <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">
                  Contact
                </h5>
                <p class="wow fadeIn animated">
                  <strong>Address: </strong>562 Wellington Road, Street 32, San
                  Francisco
                </p>
                <p class="wow fadeIn animated">
                  <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                </p>
                <p class="wow fadeIn animated">
                  <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                </p>
                <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">
                  Follow Us
                </h5>
                <div
                  class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0"
                >
                  <a href="#"
                    ><img
                      src="/user/assets/imgs/theme/icons/icon-facebook.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/user/assets/imgs/theme/icons/icon-twitter.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/user/assets/imgs/theme/icons/icon-instagram.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/user/assets/imgs/theme/icons/icon-pinterest.svg"
                      alt=""
                  /></a>
                  <a href="#"
                    ><img
                      src="/user/assets/imgs/theme/icons/icon-youtube.svg"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3">
              <h5 class="widget-title wow fadeIn animated">About</h5>
              <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Support Center</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3">
              <h5 class="widget-title wow fadeIn animated">My Account</h5>
              <ul class="footer-list wow fadeIn animated">
                <li><a href="#">Sign In</a></li>
                <li><a href="#">View Cart</a></li>
                <li><a href="#">My Wishlist</a></li>
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Order</a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h5 class="widget-title wow fadeIn animated">Install App</h5>
              <div class="row">
                <div class="col-md-8 col-lg-12">
                  <p class="wow fadeIn animated">
                    From App Store or Google Play
                  </p>
                  <div class="download-app wow fadeIn animated">
                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"
                      ><img
                        class="active"
                        src="/user/assets/imgs/theme/app-store.jpg"
                        alt=""
                    /></a>
                    <a href="#" class="hover-up"
                      ><img
                        src="/user/assets/imgs/theme/google-play.jpg"
                        alt=""
                    /></a>
                  </div>
                </div>
                <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                  <p class="mb-20 wow fadeIn animated">
                    Secured Payment Gateways
                  </p>
                  <img
                    class="wow fadeIn animated"
                    src="/user/assets/imgs/theme/payment-method.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container pb-20 wow fadeIn animated">
        <div class="row">
          <div class="col-12 mb-20">
            <div class="footer-bottom"></div>
          </div>
          <div class="col-lg-6">
            <p class="float-md-left font-sm text-muted mb-0">
              &copy; 2022, <strong class="text-brand">Evara</strong> - HTML
              Ecommerce Template
            </p>
          </div>
          <div class="col-lg-6">
            <p class="text-lg-end text-start font-sm text-muted mb-0">
              Designed by
              <a href="http://alithemes.com" target="_blank">Alithemes.com</a>.
              All rights reserved
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="text-center">
            <h5 class="mb-5">Now Loading</h5>
            <div class="loader">
              <div class="bar bar1"></div>
              <div class="bar bar2"></div>
              <div class="bar bar3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Vendor JS-->
    <script src="/user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/plugins/slick.js"></script>
    <script src="/user/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/assets/js/plugins/wow.js"></script>
    <script src="/user/assets/js/plugins/jquery-ui.js"></script>
    <script src="/user/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/assets/js/plugins/magnific-popup.js"></script>
    <script src="/user/assets/js/plugins/select2.min.js"></script>
    <script src="/user/assets/js/plugins/waypoints.js"></script>
    <script src="/user/assets/js/plugins/counterup.js"></script>
    <script src="/user/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/assets/js/plugins/images-loaded.js"></script>
    <script src="/user/assets/js/plugins/isotope.js"></script>
    <script src="/user/assets/js/plugins/scrollup.js"></script>
    <script src="/user/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="./user/assets/js/main.js?v=3.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


    <script>
      function saveProfile() {
          // Display SweetAlert
          Swal.fire({
              icon: 'success',
              title: 'Edit Saved',
              showConfirmButton: false,
              timer: 1500,
              willClose: () => {
                  // Reload the page after the SweetAlert is closed
                  window.location.reload();
              }
          });
      }
  </script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<script>
  function addWallet() {
      Swal.fire({
          title: "Enter amount to add to Wallet",
          input: "text",
          inputAttributes: {
              autocapitalize: "off"
          },
          showCancelButton: true,
          confirmButtonText: "Add",
          showLoaderOnConfirm: true,
          preConfirm: async (amount) => {
              try {
                  const response = await fetch('/addWallet', {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({ amount })
                  });

                  if (response.status === 200) {
                 
                      response.json().then((res) => {
                          if (res.order) {
                           
                              var options = {
                                  "key": "rzp_test_Vz3Fdh1bVQWYj8",
                                  "amount": res.order.amount,
                                  "currency": res.order.currency,
                                  "name": "WatchVogue",
                                  "description": "Test Transaction",
                                  "order_id": res.order.id,
                                  handler: async function (response) {
                                    
                                      try {
                                          const updateResponse = await fetch('/updatewallet', {
                                              method: 'POST',
                                              headers: {
                                                  'Content-Type': 'application/json'
                                              },
                                              body: JSON.stringify({ amount: res.order.amount / 100 })
                                          });

                                          if (updateResponse.ok) {
                                              Swal.fire({
                                                  position: "top",
                                                  icon: "success",
                                                  title: "Wallet Updated",
                                                  showConfirmButton: true,
                                                  timer: 1500
                                              }).then(() => {
                                                    // Reload the page after the user clicks "OK" on the SweetAlert
                                                    location.reload();
                                                });
                                          }
                                      } catch (error) {
                                          console.error('Error updating wallet:', error);
                                      }
                                },
                              };

                 
                              var rzp = new Razorpay(options);
                              rzp.open();
                          }
                      })
                  } else {
                      Swal.fire({
                          position: "top",
                          icon: 'warning',
                          title: "Failed to update Wallet !",
                          showConfirmButton: false,
                          timer: 1500
                      })
                  }
              } catch (error) {
                  console.log('An error occurred:', error);
              }
          },
      });
  }
</script>

<script>
  function openWalletHistoryModal() {
      $('#walletHistoryModal').modal('show');
  }
</script>

  <script>
    function shareLink() {
    
      $.get('/getreferal',(data)=>{
        const referalcode = data.referalCode;
       
        const linkToShare = `http://127.0.0.1:7000/register?code=${referalcode}`;

        const whatsappUrl = `whatsapp://send?text=${encodeURIComponent(linkToShare)}`;

        window.open(whatsappUrl, '_blank');
       
      })
      .fail(error)
      {
        alert("Failed getting the refferal code")
      }
    }
  </script>


  </body>
</html>
